Package: com.domgur0.ioslyricplugin
Name: iOS Lyric Plugin
Version: 0.0.1
Architecture: iphoneos-arm
Description: iOS16+ floating HUD lyrics plugin with fetch and karaoke rendering.
Maintainer: Domgur0
Author: Domgur0
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
